<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My cars</title>
</head>
<body>
<div th:align="center">
    <h1 th:text="${massage}"></h1>
    <table th:border="2" th:align="center">
        <tr>
            <th>Mark</th>
            <th>Series</th>
            <th>Speed</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.getMark()}"></td>
            <td th:utext="${car.getModel()}"></td>
            <td th:utext="${car.getSpeed()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
</html>